* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkgray;
}

.wrapper {
    width: 500px;
    height: 645px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 500px;
    justify-content: space-between;
    background-color: darkgray;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;
}

.Select {
    color: black;
    background-color: blueviolet;
    font-weight: bolder;
    padding: 10px;
    border-radius: 8px;
}

#message {
    font-weight: bolder;
    text-align: center;
    color: black;
}

.Black {
    color: white;
    background-color: black;
    font-weight: bolder;
    padding: 10px;
    border-radius: 8px;
}

.Green {
    color: white;
    background-color: green;
    font-weight: bolder;
    padding: 10px;
    border-radius: 8px;
}

.RoyalBlue{
    color: white;
    background-color: royalblue;
    font-weight: bolder;
    padding: 10px;
    border-radius: 8px;
}

.Random {
    color: black;
    background-color: orange;
    font-weight: bolder;
    padding: 10px;
    border-radius: 8px;
}

.Reset {
    color: black;
    background-color: red;
    font-weight: bolder;
    padding: 10px;
    border-radius: 8px;
}

.contener {
    width: 500px;
    height: 500px;
    border: 5px solid black;
    display: grid;
}
